#code coverage
code_coverage

# composer
composer.lock

# gitHub copilot config (if present)
.copilot/
.github/copilot/**

#node_modules
node_modules

# phpstorm project files
.idea

# phpunit
.phpunit.cache
.phpunit.result.cache
phpunit.xml*

# vendor directory
vendor

# vscode
.vscode

# windows thumbnail cache
Thumbs.db
