#code coverage
code_coverage

# composer
composer.lock

#copilot
copilot

#node_modules
node_modules

# phpstorm project files
.idea

# phpunit
.phpunit.*
phpunit.*

# vendor directory
vendor

# vscode
.vscode

# windows thumbnail cache
Thumbs.db
