parameters:
    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
        - YII_ENV_DEV
        - YII_ENV_PROD
        - YII_ENV_TEST

    yii2:
        config_path: ''
        component_generics:
            user: identityClass

parametersSchema:
    yii2: structure(
        [
            config_path: schema(string()),
            component_generics: schema(arrayOf(string(), string()))
        ]
    )

services:
    -
        class: yii2\extensions\phpstan\method\BehaviorMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: yii2\extensions\phpstan\property\ApplicationPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
        arguments:
            genericComponents: %yii2.component_generics%
    -
        class: yii2\extensions\phpstan\property\BehaviorPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: yii2\extensions\phpstan\type\ActiveQueryDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\ActiveRecordDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\ActiveRecordDynamicStaticMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\ActiveRecordGetAttributeDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\ContainerDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\HeaderCollectionDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\type\ServiceLocatorDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: yii2\extensions\phpstan\StubFilesExtension
        tags:
            - phpstan.stubFilesExtension

    - yii2\extensions\phpstan\ServiceMap(%yii2.config_path%)
