parameters:
    yii2:
        config_path: null
    stubFiles:
        - stubs/BaseYii.stub

parametersSchema:
	yii2: structure([
		config_path: schema(string(), nullable())
	])

services:
    -
        class: Yii\PHPStan\Reflection\ApplicationPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Yii\PHPStan\Reflection\RequestMethodsClassReflectionExtension
        tags: [phpstan.broker.methodsClassReflectionExtension]
    -
        class: Yii\PHPStan\Reflection\RequestPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Yii\PHPStan\Reflection\ResponsePropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Yii\PHPStan\Reflection\UserPropertiesClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]
    -
        class: Yii\PHPStan\Type\ActiveQueryDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Yii\PHPStan\Type\ActiveRecordDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Yii\PHPStan\Type\HeaderCollectionDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    -
        class: Yii\PHPStan\Type\ActiveRecordDynamicStaticMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
    -
        class: Yii\PHPStan\Type\ContainerDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    - Yii\PHPStan\ServiceMap(%yii2.config_path%)
