includes:
	- extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    ignoreErrors:
        - '#Calling PHPStan\\Reflection\\Annotations\\AnnotationsPropertiesClassReflectionExtension\:\:(has|get)Property\(\) is not covered.+#'
        - '#Creating new PHPStan\\Reflection\\Dummy\\DummyPropertyReflection is not covered.+#'

    level: 6

    paths:
        - src

    scanFiles:
        - vendor/yiisoft/yii2/Yii.php

    yii2:
        config_path: tests/assets/yii-config-valid.php
