includes:
    - extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    bootstrapFiles:
        - tests/bootstrap.php

    ignoreErrors:
        - '#Calling PHPStan\\Reflection\\Annotations\\AnnotationsPropertiesClassReflectionExtension\:\:(has|get)Property\(\) is not covered.+#'
        - '#Creating new PHPStan\\Reflection\\Dummy\\DummyPropertyReflection is not covered.+#'

    level: max

    paths:
        - src
        - tests/web

    # Enable strict advanced checks
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    reportAnyTypeWideningInVarTag: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportPossiblyNonexistentGeneralArrayOffset: true

    yii2:
        config_path: tests/config/config.php
